{% extends 'base.html.twig' %}

{% block title %} Lista Usuarios {% endblock %}
{% block body %}  


<a class="btn btn-primary" href="{{ path('usuario-new') }}">Crear Nuevo Libro</a><br><br>
        <table class="table table-dark table-bordered table-striped">

      
            <thead>
                <th>ID</th>
                <th>nombre</th>
                <th>email</th>
                <th>roles</th>
            <thead>
            <tbody>
                
                    {% for fondo in fondos %}
                        <tr>
                            <td> {{fondo.id}} </td>
                            <td> {{fondo.nombre}} </td>
                            <td> {{fondo.email}} </td>
                            <td> {{fondo.roles[0]}} , {{fondo.roles[1]}}</td>       

                        </tr> 
                    {% endfor %}
                  
            </tbody>
        </table>
       
      
{% endblock %}