<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
            <link rel="shortcut icon" href="{{ asset('img/ms-fortune-skullgirls.ico') }}">
             <header class="principal fullWidth">
                <div class="container container1270">
                    <div class="logo_meet">
                         <img src="{{ asset('img/DbP0Cd8U0AEpB2I.jpg') }}" alt="Meet & Surprizo" class="logo">
                         <h1 class="title">DICE AND DRAGONS</h1>
                    </div>
                    <div class="barra">
                    
                            <ul class="list-group list-group-horizontal-lg">
                                <li class="list-group-item"> <a href="{{ path('dice') }}"><button class="bot">Principal</button></a></li>
                                <li class="list-group-item"> <a href="{{ path('razas_index') }}"><button class="bot">Razas</button></a>   </li>
                                <li class="list-group-item"> <a href="{{ path('clases_index') }}"><button class="bot">Clases</button></a> </li>  
                                <li class="list-group-item"> <a href="{{ path('personaje_index') }}"><button class="bot">Tus Personajes</button></a></li>                      
                                <li class="list-group-item"> <a href="{{ path('partida_propia') }}"><button class="bot">Tus Partidas</button></a></li>
                                <li class="list-group-item"> <a href="{{ path('partida_index') }}"><button class="bot">Partidas</button></a></li> 
                                <li class="list-group-item"> <a href="{{ path('app_login') }}"><button class="bot">Log In</button></a></li>
                                <li class="list-group-item"> <a href="{{ path('app_logout') }}"><button class="bot">Log Out</button></a></li>
                            </ul>
                    </div>
                </div>
            </header>
        {% block stylesheets %}
                         
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
           
        {% endblock %}
        <footer class="fullWidth foot">
        <div class=" final container container1270">
            <div class="link">
               
            <h3>© 2020 DnD, Inc. All Rights Reserved</h3>
     
            </div>
            <div class="listas">
                
                <ul  class="f-list"> 
                    <a href="https://app.roll20.net/sessions/new" class="link" target="_blank">
                    <img class="img_foot" src={{ asset('img/Roll20-OG.png') }} >
                    <li class="final-list">Roll20</li></a>
                    <a href="https://twitter.com/roll20app" target="_blank" class="link"><img class="img_foot" src={{ asset('img/371907030_TWITTER_ICON_1080.png') }} ><li class="final-list">Twitter</li></a>
                    <a href="https://www.youtube.com/channel/UCHC1kWACzA7G6D2fqkqsRDg" class="link" target="_blank"><img id="youtube" class="img_foot" src={{ asset('img/YouTube_dark_icon).svg.png') }} ><li class="final-list">Youtube</li></a>
                </ul>
              
            </div>
        </div>
       
    </footer>
    </body>
</html>
