{% extends 'base.html.twig' %}

{% block title %}Dice & Dragons{% endblock %}

{% block body %} 

    <div class="container container1270">
        <h1>Crear Nuevo Personaje</h1>
       
    </div>
<br><br><br>

  <section class="container container1270">
<div>
      

           
       
    <form method="post" action="{{ path('partida_person') }}">
        
        <label for="id_clase">Personajes</label> 
        <select id="id_clase" name="personaje">
        {% for partida in partidas %}
            <option value='{{partida.nombre}}'> {{partida.nombre}} </option>
        {% endfor %}

        
       

            
        </select><br><br>
       <input type="number" name="id" value="{{partys.id}}" min="{{partys.id}}" max ="{{partys.id}}"><br><br>
        <input type="submit" name="Enviar" class="bot">
    </form>
               

        
    </div>

</section>

{% endblock %}
