{% extends 'base.html.twig' %}

{% block title %}Dice & Dragons{% endblock %}

{% block body %}
<section class="container container1270">
    <h1>Personajes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Alienacion</th>
                <th>Trasfondo</th>
                <th>Raza</th>
                <th>Clase</th>               
                <th>Fuerza</th>
                <th>Destreza</th>
                <th>Constitución</th>
                <th>Inteligencia</th>
                <th>Sabiduría</th>
                <th>Carisma</th> 
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personaje in personajes %}
            <tr>
                <td>{{ personaje.id }}</td>
                <td>{{ personaje.Nombre }}</td>
                <td>{{ personaje.Alienacion }}</td>
                <td>{{ personaje.Trasfondo }}</td>
                <td>{{ personaje.raza }}</td> <td>
                {% for persona in personaje.clase %}
                   {{ persona }}
                {% endfor %}</td>
                <td>{{ personaje.Fuerza }}</td>
                <td>{{ personaje.Destreza }}</td>
                <td>{{ personaje.Constitucion }}</td> 
                <td>{{ personaje.Inteligencia }}</td>
                <td>{{ personaje.Sabiduria }}</td>
                <td>{{ personaje.Carisma }}</td>
                <td>
                    <a href="{{ path('personaje_show', {'id': personaje.id}) }}">show</a>
                    <a href="{{ path('personaje_edit', {'id': personaje.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personaje_new') }}">Create new</a>
    </section>
{% endblock %}
