{% extends 'base.html.twig' %}

{% block title %}Clases{% endblock %}

{% block body %}
<section class="container container1270">
    <h1>Clases</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clase in clases %}
            <tr>
                <td>{{ clase.id }}</td>
                <td>{{ clase.Nombre }}</td>
                <td>{{ clase.Descripcion }}</td>
                <td>
                    <a href="{{ path('clases_show', {'id': clase.id}) }}">show</a>
                    <a href="{{ path('clases_edit', {'id': clase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clases_new') }}">Create new</a>
    </section>
{% endblock %}
